ca-certificates/*
!ca-certificates/.gitkeep

identity/*
!identity/.gitkeep

ssl/*
!ssl/.gitkeep

logs/*
!logs/.gitkeep

core/*
!core/.gitkeep

mssql/*
!mssql/.gitkeep

web/*
!web/.gitkeep

*.env
!*.example.env
